<!-- Error page displaying a main message, error status, and stack trace for debugging, with included header, navigation, and footer partials -->
<%- include Partials/header.ejs %> <%- include Partials/main_nav.ejs %>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<%- include Partials/footer.ejs %>
