<%- include Partials/header.ejs %> <%- include Partials/main_nav.ejs %>
<main class="container">
  <% if (typeof edited !== 'undefined' && edited) { %>
  <div class="alert alert-success alert-dismissible my-5">
    <strong>Success!</strong> The task was updated!
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  <% } %> <% if (typeof edited !== 'undefined' && !edited) { %>
  <div class="alert alert-danger alert-dismissible my-5">
    <strong>Error!</strong> The task could not be updated.
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  <% } %> <% if (typeof deleted !== 'undefined' && deleted) { %>
  <div class="alert alert-success alert-dismissible my-5">
    <strong>Success!</strong> The was deleted!
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  <% } %> <% if (typeof deleted !== 'undefined' && !deleted) { %>
  <div class="alert alert-danger alert-dismissible my-5">
    <strong>Error!</strong> The task could not be deleted.
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  <% } %>
  <div class="row py-5">
    <div class="offset-md-1 col-md-10">
      <table class="table table-bordered table-striped table-hover">
        <tr class="d-flex">
          <th class="col-2">Task</th>
          <th class="col-4">Notes</th>
          <th class="col-4">Due Date</th>
          <th class="text-center col-2"></th>
        </tr>
        <% for(let count = 0; count < task_list.length; count++) { %>
        <tr class="d-flex">
          <td class="col-2"><%= task_list[count].task %></td>
          <td class="col-4"><%= task_list[count].notes %></td>
          <td class="col-4"><%= task_list[count].duedate %></td>
          <td class="text-center col-2">
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-success"
                data-bs-toggle="modal"
                data-bs-target="#<%= task_list[count]._id %>ViewModal"
              >
                <i class="fa-solid fa-file-lines"></i>
              </button>
              <a
                href="/editor?id=<%= task_list[count]._id %>"
                class="btn btn-primary"
                ><i class="fa-solid fa-file-pen"></i
              ></a>
              <button
                type="button"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#<%= task_list[count]._id %>DeleteModal"
              >
                <i class="fa-solid fa-file-excel"></i>
              </button>
            </div>
            <div
              class="modal fade"
              id="<%= task_list[count]._id %>ViewModal"
              tabindex="-1"
            >
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body text-start">
                    <h2 class="fs-5">Task</h2>
                    <p><%= task_list[count].task %></p>
                    <h2 class="fs-5">Notes</h2>
                    <p><%= task_list[count].notes %></p>
                    <h2 class="fs-5">Due Date</h2>
                    <p><%= task_list[count].duedate %></p>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Dismiss
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="modal fade"
              id="<%= task_list[count]._id %>DeleteModal"
              tabindex="-1"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5">Delete task</h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body text-start">
                    <p>
                      <b>Are you sure you want to delete the task titled "</b
                      ><%= task_list[count].task %><b>" ?</b>
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Cancel
                    </button>
                    <form action="/api/delete" method="POST">
                      <input
                        type="hidden"
                        name="id"
                        value="<%= task_list[count]._id %>"
                      />
                      <button type="submit" class="btn btn-danger">
                        Delete
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <% } %>
      </table>
    </div>
  </div>
</main>
<%- include Partials/footer.ejs %>
